/** @format */

@use "./scss/var";
@use "./scss/rules";
@use "./scss/helpers";
@use "./scss/animation";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(https://vanilla-js-basic-project-6-modal.netlify.app/hero.jpeg);
	background-size: cover;
	background-position: center;
}
.parent {
	display: grid;
	place-content: center;
	height: 100vh;
	width: 100vw;
	.modal {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: white;
		width: 35vw;
		height: 35vh;
		border: solid 0px;
		border-radius: 10px;
		font-size: 25px;
		h1 {
			color: var.$blackBlue;
			text-align: center;
		}
		button {
			width: max-content;
			font-size: 25px;
			padding: 5px 15px;
			color: var.$whiteBlue;
			border: 1px solid var.$whiteBlue;
			background-color: transparent;
			border-radius: 5px;
			cursor: pointer;
			margin: 0px auto;
			&:hover {
				color: white;
				border: 1px solid var.$whiteBlue;
				background-color: var.$whiteBlue;
			}
		}
	}
	.modalContent {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		grid-template-rows: 20px 1fr 20px;
		background-color: hsl(205, 73%, 77%);
		border-radius: 10px;
		width: 35.1vw;
		height: 35.1vh;
		> div {
			grid-area: 2;
			padding: 10px;
			background-color: white;
			border: 0px solid;
			border-radius: 10px;
			> i {
				display: block;
				text-align: end;
				color: rgb(163, 55, 55);
				font-size: 20px;
				cursor: pointer;
			}
			> h1 {
				text-transform: capitalize;
				margin-top: 60px;
				text-align: center;
				letter-spacing: 2px;
			}
		}
	}
}
@media (max-width: 900px) {
	.parent {
		.modal {
			width: 80vw;
		}
		.modalContent {
			width: 80.1vw;
		}
	}
}
